.text-main {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
}

.text-main-controllers {
    display: flex;
}

.text-main-controllers a {
    text-decoration: none;
}

.text-main-controllers a:visited {
    color: white;
}



/* ===== Create Game Button ===== */
#create-game-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#create-game-btn:hover {
    background-color: #3e8e41;
}



/* ===== Drop Down Button ===== */
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #246126;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #f1f1f1;
color: #246126;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color: #3e8e41;
}