#logo {
    max-width: 70%;
    max-height: 70%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 25vh;
    background-color: rgb(83, 62, 59);
    color: white;
}

.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-right: 20px;
}