.header-container {
    background-color: rgb(44, 58, 21);
    display: flex;
    justify-content: space-evenly;
}

.nav-list {
    display: flex;
    min-height: 10vh;
    max-height: 25vh;
    align-items: center;
    list-style-type: none;
}

#logo {
    max-width: 70%;
    max-height: 70%;
}

/* Header Links (Image Mode button and Text Mode button) */
.nav-list .header-btn-mode a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}
